# Ignore files and directories starting with a dot
.*

# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yml
