@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scroll-behavior: smooth;
}

/* Mobile width */
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    scroll-behavior: smooth;
  }
}

/* Default track */
::-webkit-scrollbar-track {
  --tw-bg-opacity: 0.2;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  --tw-bg-opacity: 0.2;
  background-color: var(--fallback-s, oklch(var(--s) / var(--tw-bg-opacity)));
  border-radius: 5px;
}

/* Default handle (thumb) */
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 0.8;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
  border-radius: 5px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 0.8;
  background-color: var(--fallback-s, oklch(var(--s) / var(--tw-bg-opacity)));
  cursor: pointer;
}
